.navbar { 
  display: flex;
  background-color: #333; 
  overflow: hidden; 
  justify-content: space-between;
}
 .navbar ul {
   list-style-type: none;
      display: flex; 
      justify-content: flex-end;
       align-items: center; 
      } 
      .navbar li { 
        display: inline; 
      }
       .navbar a { 
        display: block;
         color: white; 
         text-align: center; 
         font-size: 1rem;
         padding: 8px 20px; 
        margin: auto;
         text-decoration: none; 
         font-family: 'Times New Roman', Times, serif;
        } 
        .navbar a:hover {
           background-color: #ddd;
            color: black;
            border-radius: 20px;
           }
            .logo {
               font-size: 24px;
                font-weight: bold; 
                padding: 20px 20px;
                margin: auto;
                background: linear-gradient(to right, white, rgb(251, 182, 7) ); 
                -webkit-background-clip: text;
                 -webkit-text-fill-color: transparent;
                  background-clip: text;
                   color: transparent;
                font-family: 'Times New Roman', Times, serif;
              }
               .toggle-button{ 
                display: none; 
                cursor: pointer;
                 font-size: 24px; 
                 color: white;
                  background: none;
                   border: none; 
                   padding: 14px 20px; 
                  }
                  
 .display_f{
  margin: 5px auto;
 }
.dark-mode {
    background-color: black;
    color: white;
}  
.mode_change{
  border: none;
  color: rgb(34, 12, 96);
  margin-right:5px ;
  
}
.food .text_food{
  width: 40%;
  height:auto ;
 
}
.food .img_food{
  width: 60%;
  height: 620px;
}
.food{
  margin: auto;
  display: flex;
  height: auto;
  background-color: rgb(11, 10, 10);
}
.img_food img{
  height: 620px;
  width: 80%;
  text-align: end;
  border-radius: 10px;
  /*margin-left: 40%;*/
}
.text_food h1{
  color: rgb(251, 182, 7);
  text-align: center;
  padding: 40px 50px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 4rem;
}
.text_food p{
  color:  rgb(255, 255, 255);
  font-size: 1.8rem;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.food_btn{
  background-color:red; 
  border: none;
  height: 40px;
  border-radius: 10px;
  color:white;
  margin-left: 230px;
  display: block;
}
.login,.register{
  
  color: white;
  height: 40px;
  width: 100px;
  margin: 20px;
  margin-left: 120px;
  border-radius: 10px;
  border: none;
}
.login{
  background-color: rgba(69, 13, 13, 0.597);
}
.register{
  background-color: rgb(212, 165, 108);
}
.login:hover ,.register:hover{
  background-color: #9b2d2dc9;
}
.food_btn:hover{
  background-color: rgb(251, 182, 7);
}

.about{
  margin-top: 5px;
  display: flex;
  height: auto;
  background-color: rgb(11, 10, 10);
  margin: auto;
}
.about_text{
  font-size: 3rem;
  text-align: center;
  background: linear-gradient(to right, #000000, #4b0000);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin: 0px auto;
}
.about_text h2{
  margin-top: 35px;
  margin-bottom: 10px;
}
.sec_about{
  margin: auto;
}
.img_about{
  width: 60%;
}
.img_about img{
  width: 60%;
  height: 300px;
  margin-left: 30%;
  margin-top: 30px;
}
.img_about p{
  margin: 50px;
  font-size: 1.4rem;
  text-align: justify;
  color:white;
  font-family: 'Times New Roman', Times, serif;
}
.text_A{
  width: 40%;
  text-align: center;
  font-size: 1.4rem;
  
}
.text_A p{
  margin: 30px;
  text-align: justify;
  color:white;
  font-family: 'Times New Roman', Times, serif;
}
.text_A h3{
  color: white;
}
.text_A img{
  width: 250px;
  height: 150px;
  margin-bottom: 5px;
}
.footer {
  margin-top: 30px;
   background-color: rgb(11, 10, 10); 
   height: 660px;
   padding: 20px;
    text-align: center;
     color: white;
    
    }
   .footer_contact{
    width: 45%;
    height: 60%;
   } 
   .footer_map{
    width: 55%;
    height: 60%;
    display: flex;
  
    justify-content: space-around;
   }
     .footer a {
       color: #ff7e5f; 
       text-decoration: none;
       } 
       .footer a:hover {
         text-decoration: underline;
         } 
         .footer ul{
          list-style-type: none;
          padding: 0;
         }
        .footer li{
         margin:10px 0;
        }
        
         .footer .ul_logo {
           list-style-type: none;
            padding: 0;
            display: flex;
            justify-content: center;
            margin-top: 20px;
          } 
          .footer .ul_logo li {
             margin: 20px 35px;
             
             }
             .ul_logo a{
              color: white;
             }
.footer_main{
  display: flex;
  justify-content: space-between;
}             
form{
  border: 2px solid brown;
  height: 245px;
  width: 250px;
  margin: auto;
  padding: 4px;
} 
    
.footer .rights {
   margin-top: 50px;
    font-size: 1.5rem; 
    color: #bbb; 
  } 
  .logos h3{
    margin-top: 80px;
  }
  .twitter{
    font-size: 2rem;
  }
  .whole{
    z-index: 1;
    position: absolute;
    margin-right: 10px;
  }
  #login{
    margin-left: 37%;
    padding-top: 10%;
    color: rgb(74, 26, 36);
  }
  
  .loginn{
    position:fixed;
    z-index: 1000;
    background-color: rgba(240, 232, 232, 0.915);
    
    border:none;
    border-radius: 10px;
    
  }
  #register{
    margin-left: 37%;
    padding-top: 10%;
    color: rgb(74, 26, 36);
  }
  
  .registerr{
    position:fixed;
    z-index: 1000;
    background-color: rgba(240, 232, 232, 0.915);
    
    border:none;
    border-radius: 10px;
    
  }
  .register-now{
    display: none;
  }
  .login-now{
    display: none;
  }
  .login-now.display{
    display: block;
  }
  .register-now.displayy{
    display: block;
  }
  .log{
    width: 350px;
    min-height: max-content;
    margin-left: 40px;
    border: none;
  }
  .log h3{
  margin-left: 28%;
    font-size: 1.6rem;
    font-weight: 400;
  }
  .log label{
    font-size: 1.3rem;
    display: block;
  }
  .log input{
    width: 80%;
    height: 30px;
    display: block;
    margin-bottom: 8px;
  }
  .log button{
    width: 90px;
    height: 40px;
    margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: rgb(249, 240, 240);
    background-color: #2b0b0bb5;
    border: none;
  }
    @media screen and (max-width:1120px){
    .footer_map{
      width: 55%;
      height: 60%;
      display: flex;
     }
     form{
      border: 2px solid brown;
      height: auto;
      width:90%;
      padding: 2px;
    } 
    iframe{
      width: 60%;
      height: auto;
    }
    form input,textarea{
      width: 60%;
      height: auto;
    }
    .food{
      margin: auto;
      display: flex;
      height: auto;
      justify-content: space-between;
    }
    .img_food img{
      height:500px;
      width: 90%;
      margin:30px 4px;
      text-align: end;
    }
    .text_food h1{
      padding: 10px 50px;
      font-size: 3rem;
    }
    .text_food p{
      font-size: 1rem;
    }
    #login{
      padding-top: 90px;
      margin-left: 27%;
    }
   #register{
    margin-left: 27%;
  
   }
   .food_btn{
    margin-top: 50px;
    margin-left: 200px;
   }
   .login,.register{
 
    height: 30px;
    width:80px;
    margin: 20px;
    margin-left: 100px;
    
  }
  }    
@media screen and (max-width: 950px) { 
 .whole{
  position:absolute;
  margin-right: 20px;
 }
 
  .navbar ul { 
    flex-direction: column; 
    display: none; 
  } 
  .navbar ul.active {
     display: flex;
     }
      .toggle-button 
    { 
display: inline-block; 
}
.food{
  height: 300px;
}
.img_food img{
  height:250px;
  width: 90%;
  margin:30px 4px;
  text-align: end;
}

.text_food h1{
  font-size: 1.3rem;
  padding: 5px 5px;
}
.text_food p{
  font-size: 0.7rem;
  padding: 3px 3px;
}
.food_btn{
  margin: 15px 10px;
  height: 30px;
}
.about{

  display: flex;
  height: auto;
  background-color: rgb(11, 10, 10);
  margin: auto;
  
}
.img_about img{
  height: 200px;
  width: 90%;
  margin-left: 5%;
  margin-top: 30px;
}
.img_about p{
  margin: 5%;
  font-size: 1rem;
}
.text_A{
  width: 50%;
  text-align: center;
  font-size: 0.8rem;
  
}
.text_A p{
  margin: 20px;
}
.text_A img{
  width: 150px;
  height: 100px;
  margin-bottom: 5px;
}
.footer_main{
  display: inline;
  
}
.about_text{
  font-size: 1.5rem;
  margin: 0px auto;
}
.about_text h2{
  margin-top: 35px;
  margin-bottom: 10px;
}
.footer {
  margin-top: 30px;
   background-color: rgb(11, 10, 10); 
   height: auto;
   /*padding: 20px;*/
    text-align: center;
     color: white;
    
    }
    .footer_contact{
      width: 90%;
      height: auto;
     } 
     .footer_map{
      width: 55%;
      height: 60%;
      display: inline;
     }
     .footer .rights {
      margin-top: 50px;
       font-size: 1rem; 
       
     }
     #login{
      padding-top: 70px;
      margin-left: 32%;
    }
   #register{
    margin-left: 32%;
  
   }
   .log{
    width: 200px;
   }
   .log h3{
    font-size: 1.3rem;
    margin-left: 25px;
   }
   .log input{
    width: 70%;
    height: 20px;
   }
   .log label {
    font-size: 0.9rem;
   }
   .log button{
    font-size: 0.9rem;
    width: 90px;
    height: 30px;
    margin-left: 30px;
   }
   .food_btn{
    margin-top: 30px;
    margin-left: 120px;
   }
   .login,.register{
 
    height: 25px;
    width:60px;
    margin: 20px;
    margin-left: 60px;
    
  }
  } 
@media screen and (max-width: 360px) 
{
  #contact,#home,#content,#about{
    width: 88%;
  }
  #content,#about{
    margin-left: 0px;
  }
  #login{
    padding-top: 70px;
    margin-left: 15%;
  }
 #register{
  margin-left: 15%;

 }
 .log{
  width: 150px;
 }
 .log h3{
  font-size: 1rem;
  margin-left: 20px;
 }
 .log input{
  width: 70%;
  height: 15px;
 }
 .log label {
  font-size: 0.7rem;
 }
 .log button{
  font-size: 0.8rem;
  width: 70px;
  height: 25px;
  margin-left: 20px;
 }
 .food_btn{
  margin-top: 30px;
  margin-left: 30px;
  font-size: 12px;
 }
 .login,.register{
  font-size: 8px;
  height: 20px;
  width:40px;
margin: 0;
margin-left: 10px;
  
}
} 
